@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <div class="text-center mt-5 fade-in" id="animatedText">
   
        <h1 class="display-4" id="textElement" style="font-family:'Times New Roman', Times, serif" ; font-size:45px; color:lightgray;">
            Welcome to Talabat! Enjoy Exclusive Offers Just for You!
           
            <i class="fa-solid fa-heart fa-1x" style="color:lightgray;" id="textElement"></i>  🛒

        </h1>
       


    </div>

    <style>
        .fade-in {
            opacity: 0;
            transition: opacity 2s;
        }

            .fade-in.show {
                opacity: 1;
            }
    </style>

    <script>
        window.onload = function () {
            const textElement = document.getElementById('animatedText');
            const contentElement = document.getElementById('textElement');
            textElement.classList.add('show');

            let isLight = true;
            const colorChangeInterval = setInterval(() => {
                
                contentElement.style.color = isLight ? 'lightgray' : 'black';
                isLight = !isLight; 
            }, 700); 

            setTimeout(() => clearInterval(colorChangeInterval), 10000);
        };
    </script>



</div>
