@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <div class="text-center mt-5 fade-in" id="animatedText">
        <h1 class="display-4" id="textElement" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:60px; color:black;">
            Welcome To Our Company 
            <br />
            <i class="fa-regular fa-heart fa-3x" style="color:black;"></i>

        </h1>
       
    </div>

    <style>
        .fade-in {
            opacity: 0;
            transition: opacity 2s;
        }

            .fade-in.show {
                opacity: 1;
            }
    </style>

    <script>
        window.onload = function () {
            const textElement = document.getElementById('animatedText');
            const contentElement = document.getElementById('textElement');
            textElement.classList.add('show');

            let isLight = true;
            const colorChangeInterval = setInterval(() => {
                contentElement.style.color = isLight ? 'black' : 'lightgray';
                isLight = !isLight; 
            }, 500); 

            setTimeout(() => clearInterval(colorChangeInterval), 10000);
        };
    </script>



</div>
